backend/env
backend/env/*
backend/.env
backend/.env.test
backend/node_modules
backend/node_modules/*
backend/build
backend/build/*
backend/public
backend/public/*
backend/dist
backend/dist/*
backend/.vscode
backend/.vscode/*
backend/logs
backend/logs/*
backend/.ebextensions
backend/.ebextensions/*
backend/.ebextensions/variables.config
!backend/.eslintrc
!backend/.prettierrc
backend/.elasticbeanstalk/
backend/.elasticbeanstalk/*

frontend/env
frontend/env/*
frontend/.env
frontend/.env.test
frontend/node_modules
frontend/node_modules/*
frontend/build
frontend/build/*
!frontend/public
!frontend/public/*
frontend/.vscode
frontend/.vscode/*
!frontend/.eslintrc
!frontend/.prettierrc
frontend/.elasticbeanstalk/
frontend/.elasticbeanstalk/*





