.vscode
.vscode/*
backend/env
backend/env/*
backend/.env
backend/.env.test
backend/node_modules
backend/node_modules/*
backend/build
backend/images
backend/images/*
backend/build/*
backend/public
backend/public/*
backend/dist
backend/dist/*
backend/.vscode
backend/.vscode/*
backend/logs
backend/logs/*
backend/.ebextensions
backend/.ebextensions/*
backend/.ebextensions/variables.config
backend/cert
backend/cert/*
backend/cert/server.cert
backend/cert/server.key


frontend/env
frontend/env/*
frontend/.env
frontend/.env.test
frontend/node_modules
frontend/node_modules/*
frontend/build
frontend/build/*
!frontend/public
!frontend/public/*
frontend/.vscode
frontend/.vscode/*
!frontend/.eslintrc
!frontend/.prettierrc
!backend/.eslintrc
!backend/.prettierrc
!backend/.elasticbeanstalk/*
