*/env
*/env/*
*/.env
*/.env.test
*/node_modules
*/node_modules/*
*/build
*/build/*
*/public
*/public/*
*/dist
*/dist/*
*/.vscode
*/.vscode/*
*/logs
*/logs/*
*/.ebextensions
*/.ebextensions/*
*/.ebextensions/variables.config
!*/.eslintrc
!*/.prettierrc
!*/nodemon.json
*/# Elastic Beanstalk Files
*/.elasticbeanstalk/*
!*/.elasticbeanstalk/*.cfg.yml
!*/.elasticbeanstalk/*.global.yml

