env
env/*
.env
.env.test
node_modules
node_modules/*
build
images
images/*
build/*
public
public/*
dist
dist/*
.vscode
.vscode/*
logs
logs/*
.ebextensions
.ebextensions/*
.ebextensions/variables.config
cert
cert/*
cert/server.cert
cert/server.key
!.eslintrc
!.prettierrc
!.elasticbeanstalk/*