option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: dev
    PORT: 8080
    SSL_PORT: 8443
    POSTGRES_HOST: posgres.cvmqttek5p8x.us-east-1.rds.amazonaws.com
    POSTGRES_DB: postgres
    POSTGRES_DB_TEST: postgres_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: VUrMLudCGGH9FTCYTIZe
    SECURE: 1
    PEPPER: Cx3hmbWGG7GKpJHg0JsAu9tWUT9Wp0dBu9axV5rzKK7PR1ULKa
    ROUND: 10
    TOKEN_SECRET: Cx3hmbWGG7GKpJHg0JsAu9tWUT9Wp0dBu9axV5rzKK7PR1ULKa
    SESSION_SLAT: Cx3hmbWGG7GKpJHg0JsAu9tWUT9Wp0dBu9axV5rzKK7PR1ULKa
    NO_CONSOLE: 1
    AWS_ACCESS_KEY_ID: AKIA553E3XATUGALR6TR
    AWS_SECRET_ACCESS_KEY: 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
    AWS_BUCKET_NAME: image-processing-thumbs-bucket
    AWS_CLOUD_FRONT: localhost:5000
    LOG_SIZE: 10